.benefits {
    background-color: #ffffff;
    &__list {
        margin-right: -30px;
    }
    &__card {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 120px;
        background-color: #F5F4FA;
        border-radius: 4px;
        margin-bottom: 30px;
    }
    &__icon {
        width: 70px;
        height: 70px;
    }
    &__item {
        width: calc(100% / 4 - 30px);
        margin-right: 30px; 
    }
    &__title {
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        margin-bottom: 10px;
    }
    &__descr {
        font-size: 14px;
        line-height: 1.7;
        letter-spacing: 0.03em;
        color: var(--light-font-color);
    }
}




// .benefits {
//     background-color: #ffffff;
    
// }
// .benefits__list {
//     margin-right: -30px;
// }
// .benefits__card {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     height: 120px;
//     background-color: #F5F4FA;
//     border-radius: 4px;
//     margin-bottom: 30px;
// }
// .benefits__icon {
//     width: 70px;
//     height: 70px;
// }
// .benefits__item {
//     width: calc(100% / 4 - 30px);
//     margin-right: 30px;
// }
// .benefits__title {
//     font-size: 14px;
//     line-height: 1.14;
//     letter-spacing: 0.03em;
//     text-transform: uppercase;
//     margin-bottom: 10px;
// }
// .benefits__descr {
//     font-size: 14px;
//     line-height: 1.7;
//     letter-spacing: 0.03em;
//     color: var(--light-font-color);
// }