.works {
    &__button {
        font-family: Roboto, sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.6;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--dark-font-color);
        border: none;
        padding: 6px 22px;
        cursor: pointer;
        background-color: var(--bg-color);
        border-radius: 5px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover, &:focus {
            background-color: var(--brand-color);
            color: #ffffff;
            box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
        }
    }
    &__tabs {
        margin-bottom: 50px;
        justify-content: center;
    }
    &__tab:not(:last-child) {
        margin-right: 8px;
    }
    &__block {
        position: relative;
        height: 294px;
        overflow: hidden;
    }
    &__descr {
        position: absolute;
        background-color: rgba(33, 150, 243, 0.9);
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 63px 24px;
        font-weight: 400;
        font-size: 18px;
        line-height: 1.55;
        letter-spacing: 0.03em;
        color: #FFFFFF;
        transform: translateY(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    &__item {
        position: relative;
        width: calc(100% / 3 - 30px);
        margin-left: 30px;
        margin-bottom: 30px;
        &:hover, &:focus {
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
        }
        &:hover .works__descr, &:focus .works__descr {
            transform: translateY(0);
        }
    }
    &__content {
        border-bottom: 1px solid rgba(238, 238, 238, 1);
        border-left: 1px solid rgba(238, 238, 238, 1);
        border-right: 1px solid rgba(238, 238, 238, 1);
        padding: 20px 24px;
    }
    &__list {
        flex-wrap: wrap;
        display: flex;
        margin-left: -30px;
        margin-bottom: -30px;
    }
    &__title {
        color: var(--dark-font-color);
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
        margin-bottom: 4px;
    }
    &__link {
        text-decoration: none;
    }
    &__type {
        font-size: 16px;
        line-height: 1.87;
        letter-spacing: 0.03em;
        color: var(--light-font-color);
    }
    &__hidden-text {
        display: none;
        position: absolute;
        top: 0;
        font-size: 18px;
        line-height: 1.55;
        letter-spacing: 0.03em;
        color: #FFFFFF;
        background: rgba(33, 150, 243, 0.9);
        padding: 63px 24px;
    }
}






// .works__button {
//     font-family: Roboto, sans-serif;
//     font-weight: 500;
//     font-size: 16px;
//     line-height: 1.6;
//     text-align: center;
//     letter-spacing: 0.03em;
//     color: var(--dark-font-color);
//     border: none;
//     padding: 6px 22px;
//     cursor: pointer;
//     background-color: var(--bg-color);
//     border-radius: 5px;
//     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
//      color 250ms cubic-bezier(0.4, 0, 0.2, 1),
//      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
// }
// .works__button:hover,
// .works__button:focus {
//     background-color: var(--brand-color);
//     color: #ffffff;
//     box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
// }
// .works__tabs {
//     margin-bottom: 50px;
//     justify-content: center;
// }
// .works__tab:not(:last-child) {
//     margin-right: 8px;
// }
// .works__block {
//     position: relative;
//     height: 294px;
//     overflow: hidden;
    
// }
// .works__descr {
//     position: absolute;
//     background-color: rgba(33, 150, 243, 0.9);
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     padding: 63px 24px;
//     font-weight: 400;
//     font-size: 18px;
//     line-height: 1.55;
//     letter-spacing: 0.03em;
//     color: #FFFFFF;
//     transform: translateY(100%);
//     transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
// }
// .works__item:hover .works__descr,
// .works__item:focus .works__descr {
//     transform: translateY(0);
// }
// .works__content {
//     border-bottom: 1px solid rgba(238, 238, 238, 1);
//     border-left: 1px solid rgba(238, 238, 238, 1);
//     border-right: 1px solid rgba(238, 238, 238, 1);
//     padding: 20px 24px;
// }
// .works__item {
//     position: relative;
//     width: calc(100% / 3 - 30px);
//     margin-left: 30px;
//     margin-bottom: 30px;
// }
// .works__item:hover,
// .works__item:focus {
//     box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
// }
// .works__list {
//     flex-wrap: wrap;
//     display: flex;
//     margin-left: -30px;
//     margin-bottom: -30px;
    
// }
// .works__title {
//     color: var(--dark-font-color);
//     font-size: 18px;
//     line-height: 2;
//     letter-spacing: 0.06em;
//     margin-bottom: 4px;
// }
// .works__link {
//     text-decoration: none;
// }
// .works__type {
//     font-size: 16px;
//     line-height: 1.87;
//     letter-spacing: 0.03em;
//     color: var(--light-font-color);
    
// }
// .works__hidden-text {
//     display: none;
//     position: absolute;
//     top: 0;
//     font-size: 18px;
//     line-height: 1.55;
//     letter-spacing: 0.03em;
//     color: #FFFFFF;
//     background: rgba(33, 150, 243, 0.9);
//     padding: 63px 24px;
// }